%contenedor{
    min-height: 800px;
    background-color:coral;
    display: flex;
}

%capahija{
    padding: 20px;
    margin: 10px;
    font-size: 1.8rem;
    background-color: cornflowerblue;
}

.contenedorflex{
    @extend %contenedor;
    align-items: flex-start;

    > div{
        @extend %capahija;
    }
}